name: Node.js CI

on: [push]

permissions:
  contents: read  #  to fetch code (actions/checkout)

jobs:
  test:
    strategy:
      matrix:
        node-version:
          - 20
          - 22
          - 24
        os: [ubuntu-latest, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm --version
      - run: npm ci --ignore-scripts
      - run: ./test.sh
